__pycache__/
*.py[cod]
*.so

#virtual environments
venv/
env/

*.env

.ipynb_checkpoints/

.vscode/
.idea/


*.log
*.tmp

.DS_Store
Thumbs.db

# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Data & images
data/
*.jpg
*.jpeg
*.png
*.webp

# Model files
*.h5
*.pth
*.pt
*.onnx
*.ckpt

# Logs
*.log

# OS files
.DS_Store

# VS Code
.vscode/

# Flask
instance/

